/***
 *    `````````````````````````
 *    `_______`_______`_______`
 *    |\`````/|\`````/|\`````/|
 *    |`+---+`|`+---+`|`+---+`|
 *    |`|```|`|`|```|`|`|```|`|
 *    |`|C``|`|`|S``|`|`|S``|`|
 *    |`+---+`|`+---+`|`+---+`|
 *    |/_____\|/_____\|/_____\|
 *    `````````````````````````
 */

* {
   margin: 0;
   padding: 0;
}
/* this sets the margin and padding to zero, making it so the divs are in the top left. */

div {
  float:left;
}

img {
  max-width: 25vw;
  max-height: 30vw;
}
#container  {
  padding-top: 5px;
  background-color: #c8a2c8;
  height: 100%;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

#header   {
  background-color: pink;
  width: 95%;
  font-size: 2.45vw;
  /* this means viewport width, which means that the size will change as the width changes */
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  border-radius: 200px;
}

#textarea  {
  width: 95%;
  background-color: #00ffff;
  margin-left: 1%;
  padding-left: 1.5%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: papyrus;
  font-size: 1.3vw;
}
a {
color: #000000;
/*link color set to black*/
 }

.menuitem {
  width: 20%;
  background-color: #05ffa1;
  border-width: 20px;
  border-radius: 2000px;
  border-color: black;
  font-family: 'Bungee Shade', cursive;
  /* this font is from google fonts */
}
