* {
   margin: 0;
   padding: 0;
}
/* this sets the margin and padding to zero, making it so the divs are in the top left. */

div {
float:left;
}

#container  {
  padding-top: 5px;
  background-color: #c8a2c8;
  height: auto;
  padding-bottom: 5px;
  width: 100%;
  text-align: center;
}

#header   {
  background-color: pink;
  width: 95%;
  font-size: 20pt;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  border-radius: 20px;
}

#textarea  {
  width: 95%;
  background-color: #00ffff;
  margin-left: 1%;
  padding-left: 1.5%;
  padding-top: 2px;
  padding-bottom: 2px;
  font-family: papyrus;
}
a {
color: #000000;/* CSS link color */
 }

.menuitem {
  width: 25%;
  background-color: #05ffa1;
  border-width: 20px;
  border-radius: 200px;
  border-color: black;
  font-family: 'Bungee Shade', cursive;
}
